.Total-form {
  margin-top: 15px;
    justify-content: center;
}
.Total-form-main {
  margin-bottom: 15px;
}
.Save-form-main{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.div-save-buttons {
  display: ruby;
}
